{{define "edit_task"}}
    {{template "layout_top" .}}
    {{template "header" .}}
    <form action="/update_task/{{.task.Id}}" method="post" role="form">
        <input type="text" name="task" placeholder="Body" value="{{.task.Body}}">
        <button type="submit">更新</button>
    </form>
    {{template "footer" .}}
    {{template "layout_bottom" .}}
{{end}}