{{define "index"}}
    {{template "layoutTop" .}}
    {{template "header" .}}
    {{if .user}}
        {{range .tasks}}
            <p>{{.Body}}</p>
            <p>{{.CreatedAt}}</p>
        {{end}}
        <form role="form" method="post" action="/create_task">
            <input type="text" name="task" placeholder="Task">
            <button type="submit">CreateTask</button>
        </form>
    {{end}}
    {{template "footer" .}}
    {{template "layoutBottom" .}}
{{end}}