{{define "layout_top"}}
    <!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{.title}}</title>
    </head>
    <body>
{{end}}
{{define "layout_bottom"}}
    </body>
    </html>
{{end}}