{{define "login"}}
    {{template "layout_top" .}}
    {{template "header" .}}
    <form role="form" action="/authenticate" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    {{template "footer" .}}
    {{template "layout_bottom" .}}
{{end}}