{{define "signup"}}
    {{template "layoutTop" .}}
    {{template "header" .}}
    <form role="form" action="/create_account" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">アカウント作成</button>
    </form>
    {{template "footer" .}}
    {{template "layoutBottm" .}}
{{end}}